/*
* @Author: hwaphon
* @Date:   2017-04-12 16:30:56
* @Last Modified by:   hwaphon
* @Last Modified time: 2017-04-15 10:05:57
*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-attachment: fixed;
}

ul {
    position: relative;

    width: 480px;
    margin: 24px auto;

    list-style: none;
    text-align: center;
}

li {
    font-size: 18px;
    line-height: 48px;

    position: relative;

    height: 48px;
    margin-bottom: 8px;
    padding: 0 18px;

    cursor: pointer;

    border-radius: 8px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

li::after {
    position: absolute;
    top: 50%;
    right: 18px;

    width: 18px;
    height: 18px;

    content: '';
    transform: translateY(-50%);

    background-image: url('smile.png');
}

li a {
    font-family: 'Timmana', sans-serif;

    position: relative;

    padding-bottom: 4px;

    cursor: pointer;
    text-decoration: none;

    color: #fff;
    outline: none;
}

li::before {
    position: absolute;
    top: 50%;
    right: 100%;

    width: 24px;
    height: 24px;

    content: '';
    transform: translateY(-50%);

    border: 8px solid #4facfe;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0 2px rgba(0,0,0,.6) inset;
}

li a::after {
    position: absolute;
    bottom: 6px;
    left: 100%;

    width: 100%;
    height: 2px;

    content: '';
    transition: all .2s ease-out;

    background-color: rgba(255,255,255,0);
}

li a:hover::after {
    left: 0;

    background-color: rgba(255,255,255,1);
}

.bg {
    position: fixed;

    width: 128px;
    height: 128px;
}

#right-bg {
    right: 48px;
    bottom: 48px;

    background-image: url('aside.png');
}

@media screen and (max-width: 800px) {
	ul {
		width: 61.8%;
	}

	#right-bg {
		display: none;
	}
}